.btn-setMenu {
    width: 208px;
    height: 50px;
    background-color: #F8C100;
    color: white;
    border: 0px #F8C100;
    margin: 0px;
    font-family: Inter;
    font-style: semi bold;
    font-size: 24px;
}

.btn-sandwich {
    width: 208px;
    height: 50px;
    background-color: #F8C100;
    color: white;
    border: 0px #F8C100;
    margin: 0px;
    font-family: Inter;
    font-style: semi bold;
    font-size: 24px;
}

.btn-snack {
    width: 208px;
    height: 50px;
    background-color: #F8C100;
    color: white;
    border: 0px #F8C100;
    margin: 0px;
    font-family: Inter;
    font-style: semi bold;
    font-size: 24px;
}

.btn-drinks {
    width: 208px;
    height: 50px;
    background-color: #F8C100;
    color: white;
    border: 0px #F8C100;
    margin: 0px;
    font-family: Inter;
    font-style: semi bold;
    font-size: 24px;
}



.menuBoard {
    width: 834px;
    height: 902px;
    background-color: white;
    margin: 0px;
    position:absolute;
}