/* 스플래시 창 배경화면색상 */
.splashTouch {
    width: 834px;
    height: 1194px;
    background-color: #F8C100;
    text-align: center;
}

.pleaseTouch {
    width: 536px;
    height: 45px;
    position: absolute;
    left: 149px;
    top: 1094px;
    color: white;
    font-size: 36px;
    font-style: Medium;
}

/* 로고창 추후에 이미지 변경할것 */
.logo {
    position: absolute;
    width: 602px;
    height: 602px;
    left: 116px;
    top: 214px;
    background-color: white;
    border-radius: 602px;
    align-items: center;
}