/* 셀렉터 배경화면색상 */
.selector-background {
    width: 834px;
    height: 1194px;
    background-color: #F8C100;
    text-align: center;
}

/* 매장 버튼*/
.store {
    color: black;
    background-color: white;
    position: absolute;
    width: 330px;
    height: 470px;
    left: 73px;
    top: 362px;
    box-shadow: 57px 109px 49px rgba(51, 40, 0, 0.01), 32px 61px 41px rgba(51, 40, 0, 0.05), 14px 27px 31px rgba(51, 40, 0, 0.09), 4px 7px 17px rgba(51, 40, 0, 0.1), 0px 0px 0px rgba(51, 40, 0, 0.1);
    border-radius: 30px;
}

/* 포장 버튼*/
.take-out1 {
    color: black;
    background-color: white;
    position: absolute;
    width: 330px;
    height: 470px;
    left: 430px;
    top: 162px;
    box-shadow: 57px 109px 49px rgba(51, 40, 0, 0.01), 32px 61px 41px rgba(51, 40, 0, 0.05), 14px 27px 31px rgba(51, 40, 0, 0.09), 4px 7px 17px rgba(51, 40, 0, 0.1), 0px 0px 0px rgba(51, 40, 0, 0.1);
    border-radius: 30px;
}

.take-out2 {
    color: black;
    background-color: white;
    position: absolute;
    width: 330px;
    height: 470px;
    left: 430px;
    top: 362px;
    box-shadow: 57px 109px 49px rgba(51, 40, 0, 0.01), 32px 61px 41px rgba(51, 40, 0, 0.05), 14px 27px 31px rgba(51, 40, 0, 0.09), 4px 7px 17px rgba(51, 40, 0, 0.1), 0px 0px 0px rgba(51, 40, 0, 0.1);
    border-radius: 30px;
}

.take-out3 {
    color: black;
    background-color: white;
    position: absolute;
    width: 330px;
    height: 470px;
    left: 430px;
    top: 562px;
    box-shadow: 57px 109px 49px rgba(51, 40, 0, 0.01), 32px 61px 41px rgba(51, 40, 0, 0.05), 14px 27px 31px rgba(51, 40, 0, 0.09), 4px 7px 17px rgba(51, 40, 0, 0.1), 0px 0px 0px rgba(51, 40, 0, 0.1);
    border-radius: 30px;
}