.menutab {
    width: 834px;
    height: 182px;
}

.best-menu-young {
    width: 417px;
    height: 90px;
}

.sandwich {
    width: 417px;
    height: 90px;
}

.drinks {
    width: 417px;
    height: 90px;
}

.wrap {
    width: 417px;
    height: 90px;
}